* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

ul {
  position:relative;
  width: 880px;
  height: 50px;
  border-radius: 0 0 10px 10px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;

}
ul a {
  position: relative;
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
  color: white;
  text-decoration: none;
  padding: 0 23px;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
ul span {
  position:absolute;
  top: 0;
  left: 36px;
  width: 70px;
  height: 100%;
  background: linear-gradient(45deg, #194b4f, #33fffc);
  border-radius: 10px;
  transition: 0.5s;
}
ul li:nth-child(1):hover~span{
  left: 36px;
}
ul li:nth-child(2):hover~span{
  left: 127px;
}
ul li:nth-child(3):hover~span{
  left: 215px;
}
ul li:nth-child(4):hover~span{
  left: 296px;
}
ul li:nth-child(5):hover~span{
  left: 383px;
}
ul li:nth-child(6):hover~span{
  left: 467px;
}
ul li:nth-child(7):hover~span{
  left: 563px;
}
ul li:nth-child(8):hover~span{
  left: 668px;
}
ul li:nth-child(9):hover~span{
  left: 770px;
}


.SwicthLogin {
  text-decoration: none;
}
body {
  background-color: #13678A;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%),1fr));
  grid-gap: 1rem;
}

.body1 {
  background-color: #13678A;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%),1fr));
  grid-gap: 50px;
  margin-top: 6rem;
  margin-right: 40px;
  margin-left: 40px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.forminput {
 position: relative;
 margin: 12px 0;
 margin-top: 20px;
 
}
.forminput input {
  padding: 15px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: white solid 2px;
  background-color: transparent;
  color: white;
  transition: 0.15s all ease;
  
}
.forminput input:focus {
  border-color: white;
}
.forminput input:placeholder {
  color: transparent;
}
.forminput .formlable {
  position: absolute;
  top: 17px;
  left: 0;
  font-size: 18px;
  padding: 0 10px;
  color: white;
  pointer-events: none;
  transition: 0.15s all ease;
}
.forminput input:focus + .formlable,
.forminput input:not(:placeholder-shown)+
.formlable {
  transform: translate(5px, -22px);
  background-color: transparent;
  font-size: 14px;
  position: absolute;
  top: 5px;
  color: #eee;
}


.boxlogin {
  color: white;
  background-color: #012030;
  width: 260px;
  height: 320px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.boxsignin {
  color: white;
  background-color: #012030;
  width: 260px;
  height: 450px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.ButtonLoginpage {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  
}

.textWelcom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.textNewaccount {
  margin-left: 40px;
  margin-top: 89px;
}
.div1 {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding-left: 26%;
}



.boxinput {
  width: 225px;
  height: 250px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px;
  margin-bottom: 10px;
}

.details h2 {
  font-size: 18px;
  margin: 220px 0 0 -15px ;
}

.details p {
  font-size: 14px;
  line-height: 1.5;
  margin: 5px 0 0 0 ;
}
.clicklock {
  margin-top: -45px;
  margin-left: 170px;
  
}


p {
  color: white;
  margin-left: 20px;
}

.app-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px; 
}

.app-search-input {
  padding: 8px 16px; 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  font-size: 16px; 
  outline: none; 
}

.app-search-input::placeholder {
  color: #aaa; 
}

.app-search-input:focus {
  border-color: #007bff; 
}

.pf {
  background-color: #012030;
  height: 27rem;
  border-radius: 20px;
  
}
